
div.task-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.task-button {
    padding: 0px;
    color: white;
    border: white;
    width: 50px;
    height: 50px;

}

.task-icon {
    padding: 0px;
    font-size: 40px;
    color: white;
}


textarea {
    resize: none;
    width: 500px;
    max-width: 426px;
    text-wrap: wrap;
    field-sizing: content;
    max-height: fit-content;
    padding: 10px 30px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    background-color: #916be4;
    border: 3px solid #c9b9ec;
    color: white;
    border-radius: 20px;
}

textarea::placeholder {
    color: white; 
    opacity: 0.5;
  }

.task-icon.empty {
    font-size: 37px;
    object-fit: none;
}

.task-icon.checked {
    font-size: 42px;
}

.delete-button {
    padding: 0px;
    background-color: transparent;
}

.delete-icon {
    padding: 0px;
    font-size: 40px;
    color: #c9b9ec;
    transition: transform 0.2s ease-in-out;
}


.delete-icon:hover {
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both; 
    transform: translate3d(0, 0, 0);
    perspective: 1000px; 
    color: rgb(255, 173, 173);
  }
  
  @keyframes shake {
    0%   { transform: rotate(0deg); }
  15%  { transform: rotate(-5deg); }
  30%  { transform: rotate(5deg); }
  45%  { transform: rotate(-3deg); }
  60%  { transform: rotate(3deg); }
  75%  { transform: rotate(-2deg); }
  100% { transform: rotate(0deg); }
  }