
.task-list-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin-left: -15px;
    margin-top:-40px;
}

div.task-list-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 30px;
}


div.task-list-header > h1 {
    margin: 0;
    font-size: 25px;
    color: #ffffff;
    align-self: flex-start;
    border-bottom: 2px solid #a98aeb;
    width: 700px;
    margin-bottom: 15px
}

div.add-task-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}